
// Site buttons
.button {
    background: $pink;
    border: none;
    border-radius: 5px;
    color: $contrastText;   
    display: block;
    font-family: "Raleway", sans-serif;
    @include fontSize(15);
    padding: 16px 46px;
    text-transform: uppercase;
    &:hover {
        background: darken($pink, 10);
    }
    // button with secondary color
    &--secondary {
        background: $purple;
        margin-right: 13px;
        &:hover {
            background: darken($purple, 10);
        }
        @media (max-width: 480px) {
        margin: 0 0 13px 0;
        }
    }
    &--small {
        font-family: "Poppins", sans-serif;
        @include fontSize(14);
        padding: 14px 34px;
    }
   
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 54px;
    &__circle {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: $purple;
        margin: 3px;
        position: relative;
        &--secondary {
            background: $pink;
            &:after {
                content: "";
                position: absolute;
                border-radius: 50%;
                top: -2px;
                bottom: -2px;
                left: -2px;
                right: -2px;
                border: 1px solid $pink;
            }
        }
    }
}

// Base Icon styles
.icon {
    border-radius: 50%;
    border: none;
}


// Card styles
.card {
    margin-right: 34px;
    // flex-grow: 1;
    &:last-of-type {
        margin: 0; //remove margin from last card in row
    }
    &__text {
        box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
        padding: 44px 22px;    
    }
    &:hover .card__text {
        box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
    }
    &__link {
        font-family: "Poppins", sans-serif;
        color: $pink;
        text-transform: capitalize;
        font-style: italic;
        &:hover {
            color: purple;
        }
    }
    &__list {
        text-align: left;
        width: 100%;
        &__list-item {
            border-top: 1px dashed $priceBoxContrast;
            // padding: 0 68px;
            .paragraph {
                width: 62%;
                margin: 14px auto;
            }
        }
    }
    &__secondary-header {
        position: relative;
        &:after {
            @extend .secondary-header:after;
            width: 20%;
            border-bottom: 1px solid $purple;
        }
    }
    @media (max-width: 480px) {
        width: initial;
        display: flex;
        flex-direction: column;
        margin: 0 0 36px 0;
    }
}


.input-container {
    display: flex;
    margin: 38px auto 0;
    width: 75%;
    &__input {
        background: rgba(70, 63, 140, 0);
        border-bottom: 1px solid $contrastText;
        border-left: 1px solid $contrastText;
        border-right: none;
        border-top: 1px solid $contrastText;
        border-radius: 5px 0 0 5px;
        flex-grow: 1;
        padding: 16px 20px;
        @media (max-width: 480px) {
            border-radius: 5px 5px 0 0;
            border-bottom: none;
            border-right: 1px solid $contrastText;
        }
    }
    &__button {
        border-radius: 0 5px 5px 0;
        @media (max-width: 480px) {
            border-radius: 0 0 5px 5px;
        }
    }
    @media (max-width: 480px) {
        width: initial;
        display: flex;
        flex-direction: column;
    }
}