
.nav {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    @include fontSize(15);
    &__logo {
        margin-bottom: 24px;
        // @media (max-width: 800px) {
        //     width: 100;
        // }
        @media (max-width: 480px) {
            margin-bottom: 10px;
        }
    }
    &__icon {
        background: $pink;
        color: $contrastText;
        margin-left: 15px;
        width: 44px;
        height: 44px; 
        &:hover {
            background: darken($pink, 10);
        }
    }
    &__list {
        flex-flow: row wrap;
        flex-grow: 1;
        justify-content: flex-end;
        &__link {
            color: $contrastText;
            display: block;
            letter-spacing: 1px;
            padding: 15px;
            text-transform: uppercase;
            &:hover {
                color: $newsAuthor;
            }
        }
    }
}

.nav,
.nav__list {
    display: flex;
}

.secondary-header {
    margin-bottom: 50px;
    padding-bottom: 36px;
    position: relative;
    text-align: center;
    &:after {
        content: "";
        border-bottom: $pink 1px solid; 
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        width: 5%;
    }
    .header-3 {
         color: $textGrey;
    }
    &--image {
        color: $contrastText;
        .header-3 {
            color: $contrastText;
        }
    }
    &--grid {
        grid-column: 1 / span 3;
    }
}

// Site buttons
.button {
    background: $pink;
    border: none;
    border-radius: 5px;
    color: $contrastText;   
    display: block;
    font-family: "Raleway", sans-serif;
    @include fontSize(15);
    padding: 16px 46px;
    text-transform: uppercase;
    &:hover {
        background: darken($pink, 10);
    }
    // button with secondary color
    &--secondary {
        background: $purple;
        margin-right: 13px;
        &:hover {
            background: darken($purple, 10);
        }
        @media (max-width: 480px) {
        margin: 0 0 13px 0;
        }
    }
    &--small {
        font-family: "Poppins", sans-serif;
        @include fontSize(14);
        padding: 14px 34px;
    }
   
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 54px;
    &__circle {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: $purple;
        margin: 3px;
        position: relative;
        &--secondary {
            background: $pink;
            &:after {
                content: "";
                position: absolute;
                border-radius: 50%;
                top: -2px;
                bottom: -2px;
                left: -2px;
                right: -2px;
                border: 1px solid $pink;
            }
        }
    }
}

// Base Icon styles
.icon {
    border-radius: 50%;
    border: none;
}


// Card styles
.card {
    margin-right: 34px;
    // flex-grow: 1;
    &:last-of-type {
        margin: 0; //remove margin from last card in row
    }
    &__text {
        box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
        padding: 44px 22px;    
    }
    &:hover .card__text {
        box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
    }
    &__link {
        font-family: "Poppins", sans-serif;
        color: $pink;
        text-transform: capitalize;
        font-style: italic;
        &:hover {
            color: purple;
        }
    }
    &__list {
        text-align: left;
        width: 100%;
        @media (max-width: 940px) {
            text-align: center;
        }
        &__list-item {
            border-top: 1px dashed $priceBoxContrast;
            // padding: 0 68px;
            .paragraph {
                width: 62%;
                margin: 14px auto;
            }
        }
    }
    &__secondary-header {
        position: relative;
        &:after {
            @extend .secondary-header:after;
            width: 20%;
            border-bottom: 1px solid $purple;
        }
    }
    @media (max-width: 480px) {
        width: initial;
        display: flex;
        flex-direction: column;
        margin: 0 0 36px 0;
    }
}

// Card media queries
@media (max-width: 768px) {
    .card--half {
        width: calc(50% - 17px);
        margin-bottom: 34px; 
        &:nth-child(2) {
             margin: 0;
        }
        @media (max-width: 480px) {
            width: initial;
        &:nth-child(2) {
            margin-bottom: 34px;
        }
       }
    }
    .card--flex {
        display: flex;
        .img {
            width:calc(50% - 17px);
            @media (max-width:480px) {
                width:initial;
            }
        }
        .card__text {
            width: calc(50% + 17px);
            padding-left: 56px;
            @media (max-width:480px) {
                width:initial;
                padding-left: 22px;
            }
        }
    }
}

// Input and submit styles
.input-container {
    display: flex;
    margin: 38px auto 0;
    width: 75%;
    &__input {
        background: rgba(70, 63, 140, 0);
        border-bottom: 1px solid $contrastText;
        border-left: 1px solid $contrastText;
        border-right: none;
        border-top: 1px solid $contrastText;
        border-radius: 5px 0 0 5px;
        color: $contrastText;
        flex-grow: 1;
        padding: 16px 20px;
        @media (max-width: 480px) {
            border-radius: 5px 5px 0 0;
            border-bottom: none;
            border-right: 1px solid $contrastText;
        }
    &--dark {
        background: $contrastText;
        color: $textGrey;
    }
    }
    &__button {
        border-radius: 0 5px 5px 0;
        @media (max-width: 480px) {
            border-radius: 0 0 5px 5px;
        }
    }
    @media (max-width: 768px) {
        width: initial;
    }
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
    }
}


// Placeholder text colors

.light::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $contrastText;
  font-family: "Poppins", sans-serif;
  @include fontSize(14);
}
.light::-moz-placeholder { /* Firefox 19+ */
  color: $contrastText;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  @include fontSize(14);
}
.light:-ms-input-placeholder { /* IE 10+ */
  color: $contrastText;
  font-family: "Poppins", sans-serif;
  @include fontSize(14);
}
.light:-moz-placeholder { /* Firefox 18- */
  color: $contrastText;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  @include fontSize(14);
}

.dark::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $textGrey;
  font-family: "Poppins", sans-serif;
  @include fontSize(14);
}
.dark::-moz-placeholder { /* Firefox 19+ */
  color: $textGrey;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  @include fontSize(14);
}
.dark:-ms-input-placeholder { /* IE 10+ */
  color: $textGrey;
  font-family: "Poppins", sans-serif;
  @include fontSize(14);
}
.dark:-moz-placeholder { /* Firefox 18- */
  color: $textGrey;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  @include fontSize(14);
}