.footer__nav__list {
    justify-content: center;
}

.footer {
&__icon {
    width: 58px;
    height: 58px;
    background: $footerSocial;
    display: flex;
    margin-right: 36px;
    .image {
        margin:auto;
    }
    
}
&__inner {
    padding: 54px 0 40px 0;
    &__container {
        display: flex;
        width: calc(100% / 3);
        color: $newsAuthor;
        @include fontSize(14);
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
            border-right: 1px solid rgba(88, 88, 88, 0.58);
    }

    }
    &--top {
        background: $footerBgTop;
    }
    &--bottom {
        color: $contrastText;
       background: $footerBgBottom; 
       position: relative;
       text-align: center;
       .img--logo {
           margin: 0 auto;
       }
       &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: -30px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid $footerBgBottom;
            left: 50%;
            transform: translateX(-50%);
       }
    //    &::after {
    //         content: "\f077";
    //         color: white;
    //         font-family: "FontAwesome";
    //         @include fontSize(15);
    //         position: absolute;
    //         left: 50%;
    //         top: 0;
    //    } 
        }
    }
}
.chevron {
    position: absolute;
    left: 50%;
    @include fontSize(15);
    transform: translateX(-50%);
    top: -12px;

}

.links-container {
    &__link {
        display: block;
        color: $newsAuthor;
    }
}