.main-header {
    background-image: url(../images/main-image.png);
    background-size: cover;
    // display: flex;
    height: 100vh;
    padding-top: 24px;
    color: #fff;
    position: relative;
    &__nav {
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 2px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.22);
            width: 100%;
        }
    }
    .wrapper {
        display: flex;
        flex-flow: column wrap;
        height: inherit;
    }
}

.nav {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    @include fontSize(15);
    &__logo {
        margin-bottom: 24px;
    }
    &__icon {
        background: $pink;
        color: $contrastText;
        margin-left: 15px;
        width: 44px;
        height: 44px; 
    }
    &__list {
        flex-flow: row wrap;
        flex-grow: 1;
        justify-content: flex-end;
        &__link {
            color: $contrastText;
            display: block;
            letter-spacing: 1px;
            padding: 15px;
            text-transform: uppercase;
        }
    }
}

.nav,
.nav__list {
    display: flex;
}

.feature {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
    text-align: center;
    &__header-3 {
        @include fontSize(22);
        color: #fff;
        margin-bottom: 28px;
    }
    &__button {
        margin: 36px auto;
        padding: 20px 60px;
    }
}

.chevron-left,
.chevron-right {
    color: $contrastText;
    position: absolute;
    @include fontSize(18);
    background:rgba(255, 255, 255, 0.28);
    padding: 36px 14px;
    top: 50%;
    &:hover {
        background: darken(rgba(255, 255, 255, 0.28), 10);
        color: darken($pink, 10);
    }
}

.chevron-left {
    left: 0;
}

.chevron-right {
    right: 0;
}

.secondary-header {
    margin-bottom: 50px;
    padding-bottom: 36px;
    position: relative;
    text-align: center;
    &:after {
        content: "";
        border-bottom: $pink 1px solid; 
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        width: 5%;
    }
    .header-3 {
         color: $textGrey;
    }
    &--image {
        color: $contrastText;
        .header-3 {
            color: $contrastText;
        }
    }
    &--grid {
        grid-column: 1 / span 3;
    }
}