
//Main header styles
.main-header {
    background-image: url(../images/main-image.png);
    background-size: cover;
    height: 100vh;
    padding-top: 24px;
    color: #fff;
    position: relative;
    @media (max-width: 768px) {
        overflow: hidden;
    }
    @media (max-width: 480px) {
        padding-top: 10px;
    }
    @media (max-height: 600px) {
        height: initial; //remove viewheight on short devices
    }
    .wrapper {
        display: flex;
        flex-flow: column wrap;
        height: inherit;
    }
    //Main header nav changes
    &__nav {
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
        position: relative;
        // Hamburger menu styles at small sizes
        @media (max-width: 768px) {
            position: static;
        }
        &__list {
            @media (max-width: 768px) {
                position: absolute;
                display: flex;
                flex-direction: column;
                left: -400px;
                top: 0;
                bottom: 0;
                background:rgba(0, 0, 0, 0.95);;
                display: flex;
                max-width: 400px;
                width: 100%;
                padding-left: 100px;
                justify-content: center;
                transition: left 1s ease-in;
                z-index: 1;
            }
        }
        // Second border on bottom
        &::after {
            content: "";
            position: absolute;
            bottom: 2px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.22);
            width: 100%;
            // Hide second border when hamburger menu appears
            @media (max-width: 768px){
                display: none;
            }
        }
    }
}

// Toggle hamburger menu
input#hamburger-menu {
    display: none;
}

input#hamburger-menu:checked + ul.nav__list {
	left: 0;
}

.hamburger {
    z-index: 2;
    display: none;
    @media (max-width: 768px) {
        display: block;
        &:hover {
            color: $pink;
        }
    }
}

// Feature section
.feature {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 80%;
    img {
        @media (max-width: 480px) {
            display: none;
        }
    }
    &__header-3 {
        @include fontSize(22);
        color: #fff;
        margin-bottom: 28px;
    }
    &__button {
        margin: 36px auto;
        padding: 20px 60px;
    }
}

// Scroll tabs on side
.chevron-left,
.chevron-right {
    color: $contrastText;
    position: absolute;
    @include fontSize(18);
    background:rgba(255, 255, 255, 0.28);
    padding: 36px 14px;
    top: 50%;
    &:hover {
        background: darken(rgba(255, 255, 255, 0.28), 10);
        color: darken($pink, 10);
    }
    @media (max-width: 480px) {
        display: none;
    }
}

.chevron-left {
    left: 0;
}

.chevron-right {
    right: 0;
}
