// Base section styles and modifiers
.section {
    padding: 150px 0;
    @media (max-width: 480px) {
        padding: 75px 0;
    }
    &--secondary-color {
        background: $backgroundShaded;
    }
    &--one {
        padding: 88px 0;
        .wrapper {
            @media (max-width: 1120px) {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }
        }
    }
    &--dark {
        background: $purple;
        color: $contrastText;
        .paragraph {
            color: $contrastText;
        }
        &--image {
            background-image: url(../images/Pattern.png);
        }
    }
    &--short {
        padding: 105px 0;
        text-align: center;
        &--image {
            background-image: url(../images/pattern-light.png);
        }      
    }
    &--image {
        background-image: url(../images/pricing-image.png);
        background-repeat: no-repeat;
        }

    &__inner {
        &--small {
            width: 25%;
            @media (max-width: 1120px) {
                width: 100%;
            }
        }
        &--flex {
            @extend %flex;
            align-items: flex-start;
            justify-content: center;
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
            @media (max-width: 480px) {
                align-items: center;
                flex-direction: column;
            }
        }
        &--short {
            max-width: 75%;
            margin: 0 auto;
        }
        &--half {
            justify-content: flex-start;
            @media (max-width: 656px) {
               justify-content: center;
            }
        }
    }
}

// Countdown element
.counter {
     position: relative;
    &:not(:last-child):after {
            content: ":";
            font-family: "Poppins", sans-serif;
            font-size: 22px;
            position: absolute;
            right: 9px;
            top: 20%;
            transform: translateY(-50%);
        }   
    &__inner {
        display: flex;
        &:not(:last-child) {
            margin-right: 18px;
        }           
    }
    &__card {
        background: $counter;
        border-radius: 5px;
        color: $contrastText;
        display: flex;
        height: 45px;
        margin-right: 2px;
        width: 37px;
        &__text {
            margin: auto;
        }
    } 
    @media (max-width: 480px) {
        display: none;
    }  
}

// Speakers Gallery 
.gallery,
.card-container {
    &--flex {
        @extend %flex;
    }
}
.gallery--flex {
        @media (max-width: 890px) {
        flex-wrap: wrap;
        justify-content: center;
        }
     }

.gallery {
    &__card:hover .card__text {
        background: $purple;
        color: $contrastText;
        .paragraph {
            color: $contrastText;
        }
    }
    &__card:hover .gallery__container {
        bottom: 10%;
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
    }
      &__container {
        display: none;   
    }
    &__icon {
        align-items: center;
        background:rgba(0, 0, 0, 0.55);
        color: $contrastText;
        @extend %flex;
        height: 34px;
        width: 34px;
        justify-content: center;
        &:not(last-child) {
            margin-right: 6px;
        }
        &:hover {
            background: $pink;
        }
    }
    &__text {
        padding: 20px;
        text-align: center;
        .header-4 {
            @include fontSize(16);
        }
        .paragraph {
            @include fontSize(13);
            margin: 3px 0 0 0;
        }
    }
    &__card {
        @media (max-width: 890px) {
            margin-bottom: 34px;
            &:nth-of-type(2) {
                margin-right: 0;
            }
        }
    }
}

.overlay-container {
    position: relative;
}



.card-container {
    background: $contrastText;
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);
    padding: 34px;
    @media (max-width: 940px) {
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        }
    @media (max-width: 540px) {
        width: initial;
    }
    &__card {
        align-items: center;
        background: $priceBox;
        border: 1px solid $priceBoxContrast;
        display: flex;
        flex-grow: 1;
        flex-flow: column wrap;
        padding: 50px 0;
        position: relative;
        text-align: center;
        @media (max-width: 940px) {
            margin: 0 0 34px 0;
        }
        &--banner::before {
            content: "Best Pricing";
            color: $contrastText;
            @include fontSize(13);
            font-family: "Raleway", sans-serif;
            font-weight: 500;
            position: absolute;
            transform: rotate(45deg);
            top: 4%;
            right: -1%;
            z-index: 10;
        }
        .banner {
            position: absolute;
            top: 0;
            right: 0;
        }
        .button {
            align-self: left;
            margin: 38px 0 0 18%;
            @media (max-width: 940px) {
                align-self: center;
                margin: 38px 0 0 0;
            }
        }
        .paragraph {
            text-transform: capitalize;
        }
    }
}  

.list--sidebar {
    align-self: center;
    width: 25%;
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
    }
    @media (max-width: 480px) {
        flex-direction: column;
    }
    &__list-item {
        background: $contrastText;
        border: 1px solid $priceBox;
        padding: 16px 20px;
        @media (max-width: 768px) {
            flex-grow: 1;
        }
        &:hover {
            background: $pink;
            .list--sidebar__paragraph,
            .list--sidebar__paragraph--small {
            color: $contrastText;
            }
        }
    }
    &__paragraph {
        @include fontSize(18);
        color: $textBlack;
        margin: 0;
        &--small {
            @include fontSize(13);
            color: $eventSide;
            margin: 0;
        }
    }
}

.articles {
    padding-left: 100px;
    position: relative;
    width: 75%;
    &::before {
        border: 1px dashed $priceBox;
        bottom: 17%;
        content:"";
        left: 50px;
        position: absolute;
        top: 8%;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .header-4 {
        margin-bottom: 14px;
    }
    .paragraph {
        margin: 0;
    }
    @media (max-width: 768px) {
        padding-left: 50px;
        width: 100%;
    }
    @media (max-width: 480px) {
        padding: 0;
    }
}

.article {
    &__image-container {
        flex-basis: 82px;
        flex-shrink: 0;
        position: relative;
         &::after {
            border: 1px dashed #ececec;
            content: "";
            position: absolute;
            top: 30%;
            left: -52%;
            width: 50px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        @media (max-width: 480px) {
            margin-bottom: 36px;
        }
        &__image {
            background: $priceBox;
            border-radius: 50%;
            padding: 7px;
            position: relative;
            z-index: 1;
        }
    }
    &__container {
        margin-left: 34px;
        @media (max-width: 480px) {
            margin-left: 0;
        }
    }
    &--flex {
        @extend %flex;
         
        &:not(:last-child) {
        margin-bottom: 60px;
         }
        
        @media (max-width: 480px) {
            flex-direction: column;
            align-items: center;
        }   
    }
    .header-4 {
        @include fontSize(18);
    }
    .paragraph {
        @include fontSize(13);
    }
    &--side-layout {
        background: $backgroundShaded;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / span 2;
        grid-row: 1;
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-column: 1;
            grid-row: 1 / span 2;
        }
    }
    &--top-layout {
        background: $backgroundShaded;
        grid-column: 3;
        grid-row: 1 / span 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        @media (max-width: 940px) {
            grid-column: 1;
            grid-row: 2 / span 2;
        }
        @media (max-width: 600px) {
            grid-row: 3 / span 2;
        }
    }
    &--single-layout {
        background: $backgroundShaded;
        display: flex;
        flex-direction: column;
    }
    &__link-box {
        background: $purple;
        height: 50%;
        width: 100%;
        &__link {
            color: $contrastText;
            display: flex;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            @include fontSize(18);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
        }
    }
    &__text-box {
        padding: 38px;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: flex-start;
        .header-4 {
            @include fontSize(22);
            text-transform: capitalize;
            margin-bottom: 6px;
            }
         .paragraph {
            color: $textGrey;
            margin: 34px 0 24px;
        }
        .paragraph--author {
            color: $newsAuthor;
            margin: 0;
            padding-bottom: 14px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                border-bottom: 1px solid $priceBoxContrast;
                width: 20%;
                left: 0;
                bottom: 0;
            }
        }          
        &__link {
            color: $contrastText;            
        }
    }
}

.list--sidebar--image {
     flex-basis: 67px;
     flex-shrink: 0;
     margin-top: 14px;
     @media (max-width: 656px) {
         display: flex;
         flex-basis: initial;
         order: 1;
         justify-content: center;
     }
}   
    .list__item {
        margin-bottom: 28px;
        @media (max-width: 656px) {
            flex-basis: 67px;
        }
        .img--round {
            @extend .article__image-container__image;
            &--noBorder {
                background: none;
            }
        }
    }

.blockquote {
    margin: 0;
    padding-left: 100px;
    position: relative;
    flex-basis: 550px;
    @media (max-width: 656px) {
        padding-left: 50px;
    }
    &__text--large {
        font-family: "Raleway", sans-serif;
        @include fontSize(30);
        font-weight: 700;
        line-height: 1.8;
        margin: 0 0 28px 0;
        color: $backgroundShaded;
    }
    .paragraph {
        color: $blockquoteSm;
        font-style: italic;
        @include fontSize(17);
    }
    .author {
        color: $contrastText;
        font-style: normal;
        @include fontSize(18);
        font-weight: 600;
    }
    &::before {
        content:"“";
        @include fontSize(110);
        font-family: "Poppins";
        position: absolute;
        left: 45px;
        line-height: 1.2;
        @media (max-width: 656px) {
        left: 0;
        }
    }
}

.article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: 1fr;
    @media (max-width: 940px) {
        grid-template-columns: repeat(2, 1fr);
        }
    @media (max-width: 600px) {
        grid-template-columns: 1fr minmax(200px, 371px) 1fr;
        }
    .article {
        @media (max-width: 600px) {
            grid-column: 2;
        }
    }
}

.image-container {
    .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &--one {
        margin-right: 17px;
        @media (max-width: 600px) {
            margin-right: 0;
        }
    }
    &--two {
        margin-bottom: 17px;
         @media (max-width: 600px) {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .card--half {
        width: calc(50% - 17px);
        margin-bottom: 34px; 
        &:nth-child(2) {
             margin: 0;
        }
        @media (max-width: 480px) {
            width: initial;
        &:nth-child(2) {
            margin-bottom: 34px;
        }
       }
    }
    .card--flex {
        display: flex;
        .img {
            width:calc(50% - 17px);
            @media (max-width:480px) {
                width:initial;
            }
        }
        .card__text {
            width: calc(50% + 17px);
            padding-left: 56px;
            @media (max-width:480px) {
                width:initial;
                padding-left: 22px;
            }
        }
    }
}