.header-1 {
    @include fontSize(44);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.header-2 {
    @extend .header-1;
    @include fontSize(36);
    margin:0 0 20px 0;
    &--small {
        @include fontSize(16);
    }
    &--med {
        @include fontSize(26);
    }
}

.header-3 {
    font-family: "Poppins", sans-serif;
    @include fontSize(17);
    font-style: italic;
    font-weight: 400;
}

.header-4 {
    font-family: "Raleway", sans-serif;
    @include fontSize(20);
    font-weight: 500;
    margin: 0;
}

.header-5 {
    @extend .header-4;
    @include fontSize(14);
    margin-bottom: 16px;
    &--light {
        @include fontSize(13);
        color: $textGrey;
        font-weight: 400;
        padding-left: 10px;
    }
}

.paragraph {
    font-family: "Poppins", sans-serif;
    @include fontSize(14);
    line-height: 1.8;
    color: $textGrey;
    &--uppercase {
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 0 16px 0;
    }
    &--large {
        @include fontSize(40);
        font-weight: 500;
        position: relative;
        line-height: 1;
    }
    &--pseudo {
        display: flex;
        align-items: baseline;
        justify-content: center;
        color: $textBlack;
        &::before {
            content: "$";
            @include fontSize(26);
            font-weight: 300;
            align-self: flex-start;
            line-height: 1.2;
        }
    }
}