//COLOURS

$contrastText: #fff;
$pink: #e85889;
$purple: #463f8c;
$textGrey: #777;
$textBlack: #222;
$backgroundShaded: #fafafa;
$socialOverlay: rgba(0,0,0,0.55);
$priceBox: #ececec;
$priceBoxContrast: #e0e0e0;
$newsletter: #999999;
$newsAuthor: #ababab;
$event: #666;
$eventSide: #b7b7b7;
$blockquoteSm: #bfb9f6;
$footerBgTop: #1b1b1b;
$footerBgBottom: #100f0f;
$footerSocial: #2f2f2f;


// Mix-ins
@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}