@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/components";
@import "components/footer";

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    @media screen and (max-width: 1190px) {
        padding: 0px 20px;
    }
    &--flex {
        @extend %flex;
        justify-content: space-between;
    }
}

img {
    max-width: 100%;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

%flex {
    display: flex;
    // flex-wrap: wrap;
}

// Countdown element
.counter {
     position: relative;
    &:not(:last-child):after {
            content: ":";
            position: absolute;
            font-family: "Poppins", sans-serif;
            font-size: 22px;
            right: 9px;
            top: 20%;
            transform: translateY(-50%);
        }   
    &__inner {
        display: flex;
        &:not(:last-child) {
            margin-right: 18px;
        }           
    }
    &__card {
        background: $counter;
        border-radius: 5px;
        color: $contrastText;
        display: flex;
        height: 45px;
        margin-right: 2px;
        width: 37px;
        &__text {
            margin: auto;
        }
    } 
    @media (max-width: 480px) {
        display: none;
    }  
}

.section {
    padding: 150px 0;
    &--secondary-color {
        background: $backgroundShaded;
    }
    &--one {
        padding: 88px 0;
        .wrapper {
            @media (max-width: 1120px) {
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
            }
        }
    }
    &--dark {
            background: $purple;
            color: $contrastText;
            .paragraph {
                color: $contrastText;
            }
            &--image {
                background-image: url(../images/Pattern.png);
            }
    }
    &--short {
        padding: 105px 0;
        text-align: center;
        &--image {
            background-image: url(../images/pattern-light.png);
        }      
    }
    &--image {
        background-image: url(../images/pricing-image.png);
        background-repeat: no-repeat;
        }

    &__inner {
        &--small {
            width: 25%;
            @media (max-width: 1120px) {
                width: 100%;
            }
        }
        &--flex {
            @extend %flex;
            justify-content: center;
            align-items: flex-start;
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
            @media (max-width: 480px) {
                flex-direction: column;
                align-items: center;
            }
        }
        &--short {
            max-width: 75%;
            margin: 0 auto;
        }
        &--half {
            width: 50%;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &--offset {
        
    }
}



.gallery,
.card-container {
    &--flex {
        @extend %flex;
    }
.gallery {
        @media (max-width: 920px) {
        flex-wrap: wrap;
        justify-content: center;
    }
     }
}

.overlay-container {
    position: relative;
}

.gallery {
    &__card:hover .card__text {
        background: $purple;
        color: $contrastText;
        .paragraph {
            color: $contrastText;
        }
    }
    &__card:hover .gallery__container {
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 10%;
        position: absolute;
    }
    &__container {
        display: none;   
    }
    &__icon {
        background:rgba(0, 0, 0, 0.55);
        color: $contrastText;
        width: 34px;
        height: 34px;
        @extend %flex;
        justify-content: center;
        align-items: center;
         &:not(last-child) {
            margin-right: 6px;
        }
        &:hover {
            background: $pink;
        }
    }
    &__text {
        padding: 20px;
        text-align: center;
        .header-4 {
            @include fontSize(16);
        }
        .paragraph {
            @include fontSize(13);
            margin: 3px 0 0 0;
        }
    }
    &__card {
        @media (max-width: 768px) {
        // flex-basis: 220px;
        &:nth-of-type(2) {
            margin: 0;
        }
    }
    }
}

.card-container {
    background: $contrastText;
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);
    padding: 34px;
    &__card {
        background: $priceBox;
        border: 1px solid $priceBoxContrast;
        padding: 50px 0;
        text-align: center;
        display: flex;
        flex-grow: 1;
        flex-flow: column wrap;
        align-items: center;
        .button {
            align-self: left;
            margin-left: 68px;
        }
    @media (max-width: 940px) {
        flex-direction: column;
        }
    }
}  

.list--sidebar {
    width: 25%;
    align-self: center;
    @media (max-width: 768px) {
        width: 100%;
        display: flex;
        margin-bottom: 50px;
        justify-content: center;
    }
    @media (max-width: 480px) {
        flex-direction: column;
    }
    &__list-item {
        border: 1px solid $priceBox;
        padding: 16px 20px;
        background: $contrastText;
        @media (max-width: 768px) {
            flex-grow: 1;
        }
        &:hover {
            background: $pink;
            .list--sidebar__paragraph,
            .list--sidebar__paragraph--small {
            color: $contrastText;
            }
        }
    }
    &__paragraph {
        @include fontSize(18);
        color: $textBlack;
        margin: 0;
        &--small {
            @include fontSize(13);
            color: $eventSide;
            margin: 0;
        }
    }
}

.articles {
    padding-left: 100px;
    width: 75%;
    position: relative;
    &::before {
        content:"";
        position: absolute;
        left: 50px;
        top: 5%;
        border: 1px dashed $priceBox;
        bottom: 20%;
        @media (max-width: 480px) {
            display: none;
        }
    }
    .header-4 {
        margin-bottom: 14px;
    }
    .paragraph {
        margin: 0;
    }
    @media (max-width: 768px) {
        width: 100%;
        padding-left: 50px;
    }
    @media (max-width: 480px) {
        padding: 0;
    }
}

.article {
    &__image-container {
        width: 12%;
        @media (max-width: 480px) {
            width: initial;
            margin-bottom: 36px;
        }
        &__image {
        border-radius: 50%;
        background: $priceBox;
        padding: 7px;
        }
    }
    &__container {
        margin-left: 34px;
        @media (max-width: 480px) {
            margin-left: 0;
        }
    }
    &--flex {
        @extend %flex;
         &:not(:last-child) {
        margin-bottom: 60px;
         }
        @media (max-width: 480px) {
            flex-direction: column;
            align-items: center;
        }   
    }
    .header-4 {
        @include fontSize(18);
    }
    .paragraph {
        @include fontSize(13);
    }
    &--side-layout {
        background: $backgroundShaded;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / span 2;
        grid-row: 1;
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
            grid-column: 1;
            grid-row: 1 / span 2;
        }
    }
    &--top-layout {
        background: $backgroundShaded;
        grid-column: 3;
        grid-row: 1 / span 2;
        @media (max-width: 768px) {
            grid-column: 1;
            grid-row: 2 / span 2;
        }
        @media (max-width: 480px) {
            grid-row: 3 / span 2;
        }
    }
    &--single-layout {
        background: $backgroundShaded;
        display: flex;
        flex-direction: column;
    }
    &__link-box {
        background: $purple;
        height: 50%;
        width: 100%;
        &__link {
            color: $contrastText;
            display: flex;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            @include fontSize(18);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
        }
    }
    &__text-box {
        // padding: 38px;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: flex-start;
        .header-4 {
            @include fontSize(22);
            text-transform: capitalize;
            margin-bottom: 6px;
            }
         .paragraph {
            color: $textGrey;
            margin: 34px 0 24px;
        }
        .paragraph--author {
            color: $newsAuthor;
            margin: 0;
            padding-bottom: 14px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                border-bottom: 1px solid $priceBoxContrast;
                width: 20%;
                left: 0;
                bottom: 0;
            }
        }
        
            
        &__link {
            color: $contrastText;            
        }
    }
}

.list--sidebar--image {
    width: 10%;
    .list__item {
        margin-bottom: 28px;
        .img--round {
            @extend .article__image-container__image;
            &--noBorder {
                background: none;
            }
        }
    }
}

.blockquote {
    padding-left: 100px;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: 1fr;
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        }
    @media (max-width: 480px) {
        grid-template-columns: 1fr minmax(200px, 371px) 1fr;
        }
    .article {
        @media (max-width: 480px) {
            grid-column: 2;
        }
    }
}

.image__container {
    &--one {
        margin-right: 17px;
        @media (max-width: 480px) {
            margin-right: 0;
        }
    }
    &--two {
        margin-bottom: 36px;
    }
}

@media (max-width: 768px) {
    .card--half {
        width: calc(50% - 17px);
        &:nth-child(2) {
             margin: 0;
            @media (max-width: 480px) {
                 margin-bottom: 36px; 
                }
            }
        @media (max-width: 480px) {
        width: initial;
       }
    }
    .card--flex {
        display: flex;
        margin-top: 34px;
    }
}

